@media only screen and (max-width: 800px) {
 
  }
  @media only screen and (max-width: 800px) {
 .homepage{
    flex-wrap: wrap;
    margin-top: -2rem;}
  }
.homepage{
    display: flex;
    justify-content:center ;
}
