@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&family=Poppins:wght@300&family=Rubik:ital,wght@1,500&display=swap");

body {
  font-family: "Itim", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  color: white;
}

.table-score {

  border-radius: 25px;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff;
  width: fit-content;

  display: flex;
  flex-direction: column;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 5rem auto;

}
.title-score{
  font-size: larger;
  margin: inherit;

}
@media only screen and (max-width: 800px) {
  .container{flex-direction: column;
    margin: 1.2rem auto;}
}
.page-link{
  border-radius: 25px;
  background-color: #212121;
  border: none;
  box-shadow: none;
  padding: 5px;
 align-items: center;
}
.numbers{
  display: flex;
  justify-content: center;
}
.page-link:hover{
  box-shadow: none;
}
.page-link:focus{
  box-shadow: none;
}