@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&family=Poppins:wght@300&family=Rubik:ital,wght@1,500&display=swap");

body {
  font-family: "Itim", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  color: white;
}
.table-score {
    padding: 0.5rem;
  border-radius: 25px;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 14rem auto;
}
