@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&family=Poppins:wght@300&family=Rubik:ital,wght@1,500&display=swap');

body{
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: white;
}
